/* Instellingen om fouten te helpen vinden,
   uncomment om aan te zetten */

/* zorg dat elke box een gestippelde rand krijgt, 
   zodat je de afmeting goed kunt zien, 
   let op 1: dit kan de layout soms kan wijzigen 
   let op 2: laat 1 sterretje voor { staan als je commentaar weghaalt */
  * {border: 1px dotted black;}


  
/* zorg dat elke box een doorzichtige donkere achtergrond krijgt, 
   hoe meer boxen in elkaar hoe donkerder de achtergrondkleur 
   letop: laat 1 sterretje voor { staan als je commentaar weghaalt */
/*  * {background-color: rgba(0,0,0,5%);}  */


/************************* BASISINSTELLINGEN *************************/

/* Basisinstellingen voor alle pagina's, alleen aanpassen als je pro wilt worden */

* {                               /* geldt voor alles */
  box-sizing: border-box;         /* zorg dat border meetelt bij de width en height van boxen */
  margin: 0px;                    /* standaard marge 0 pixels */
}

html, body {                      /* geldt voor html en body */
  background-color: #04060b;    /* achtergrondkleur lichtgrijs */
  color: #000000;  
  background-image:url("fortnite-background.jpeg");
  background-size:2235px;
  
}  

div {                             /* geldt voor div */
  overflow: hidden;               /* zorgt dat een <div> de hoogte krijgt van wat erin zit
                                     (anders tellen de floats erin niet mee voor de hoogte
                                     en wordt dus wel eens hoogte 0) */
}


/************************* ALLE WEBPAGINA'S *************************/

/* Indeling en opmaak voor alle pagina's */

.page {
  width: 80%;                   /* vaste breedte van 700 pixels */
  margin: 10px auto;              /* boven en onder 10 pixels marge,
                                     links en rechts marge gelijk verdeeld (gecentreerd) */
}

header, footer {                  /* geldt voor header en footer */
  margin: 10px 0px;
}

main {                       
  text-align: justify;            /* tekst links en rechts uitvullen */
}

h1, h2, h3 {                      /* geldt voor h1 en h2 en h3 */
  margin: 10px 0px;
  text-align: center;             /* tekst centreren */
  color: #000000;
 
} 
menuitem
.item-tekst{
font-size: 18px;
}
p {
  margin: 10px 0px;
  text-align: justify;            /* tekst links en rechts uitvullen */
}

img {
  margin: 10px 0px;
}

a {
  color: skyblue;
  text-decoration: none;
}

a:hover {                         /* <a> als je er met de muis op staat */
  text-decoration: underline;
}

.smalltext {
  text-align: center;
  font-size: 0,6em;
}

/************************* NAVIGATIEBALK *************************/ 

/* navigatiebalk voor alle pagina's */






.item-plaatje {
  float: left;
  width: 250px;
  padding-right: 15px; /* zorgt dat plaatje niet tegen tekst komt */
}







/*********************WAT IS ROBLOX h2*********************/


.tekst {float:right;}
.belangrijk {color:#000000}
h2 {color:#000000;}
















/************************menu************************/
  nav ul {                        
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #00b3ff;
  overflow: hidden;
}



.active{
padding: 10px 16px} 
nav li a {
  display: block;
  color: black;
  
  padding: 10px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color:#5d76ea;
}

.active {
  background-color: #4dc3ff;
}
nav {text-align:left;}
.content nav {float:left;}
.content main {float:right;}



.john-wick {width:200px;
           float: left;}





/********************************voorpagina********************************/
.fortnite-new {width:250px;
              float:left;}
.uitleg-1 {width:350px;
          float:left;}
.uitleg-2 {width:350px;}
p {width:700px;}
.top5 {font-size:30px;
      color:#000000;}

.event {color:#853e98}
.maps {width:600px;}
.links {float: left;
       }
.rechts {float:right;
        }